In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
d = pd.read_excel("Realized Schedule 20210101-20220208.xlsx")

In [9]:
d.Airline.unique()

array(['IA', 'JZ', 'CN', 'LJ', 'FP', 'WT', 'UK', 'TN', 'ZY', 'DO', 'KU',
       'NH', 'QU', 'MD', 'PW', 'CL', 'AY', 'ZT', 'SQ', 'EM', 'VW', 'PU',
       'WR', 'NU', 'OF', 'ML', 'NI', 'NV', 'OK', 'VJ', 'VD', 'BT', 'UI',
       'FO', 'MC', 'IR', 'IK', 'GM', 'SH', 'WU', 'LX', 'GQ', 'PJ', 'WJ',
       'KN', 'BZ', 'BJ', 'RT', 'WN', 'LW', 'JN', 'TJ', 'TV', 'PO', 'KJ',
       'DU', 'EN', 'SV', 'JE', 'ZP', 'NS', 'LZ', 'FZ', 'XA', 'KO', 'FK',
       'ID', 'RS', 'ZB', 'GX', 'ZL', 'YT', 'ZD', 'PL', 'JA', 'WY', 'UU',
       'JP', 'NG', 'XP', 'XG', 'RV', 'RZ', 'FB', 'KL', 'DT', 'YU', 'NW',
       'UE', 'YQ', 'YJ', 'MR', 'RO', 'FX', 'KZ', nan], dtype=object)

In [50]:
d.Date

AttributeError: 'DataFrame' object has no attribute 'Date'

In [10]:
airlines = pd.read_csv("/home/hinge/Downloads/convertcsv.csv")

In [45]:
airlines[airlines.IATA == "DO"]

,IATA,ICAO,Airline,Call sign,Country/Region,Comments
2352,DO,DOA,Dominicana de Aviación,DOMINICANA,Dominican Republic,defunct

In [46]:
import math

airline_new = {x: None for x in d.Airline.unique() }
for air in d.Airline.unique():
    if air in airlines.IATA.unique():
        k = airlines[airlines.IATA==air][['Airline', 'Country/Region']]
        airline_new[air] = k
        #if len(k) > 1:
        #    print(air, k)
    
    else:
        print(air,"No")

WU No
WJ No
NS No
XA No
YJ No
nan No

In [42]:
d.iloc[500,]

ScheduleTime    2021-01-16 12:20:00
Airline                          DO
FlightNumber                    986
Destination                     YXC
AircraftType                    32N
FlightType                        J
Sector                           CA
SeatCapacity                    180
LoadFactor                 0.172222
Name: 500, dtype: object

In [47]:
d.Sector.value_counts()

CA    17906
US    17575
IS      450
QA      345
AE      165
DK       95
SG       95
EG       88
CN       44
IQ        3
NL        1
MX        1
Name: Sector, dtype: int64

In [48]:
d[d.Sector == "DK"]

,ScheduleTime,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,SeatCapacity,LoadFactor
421,2021-01-13 11:25:00,DO,811,CPH,333,J,DK,262,0.145038
614,2021-01-21 12:25:00,DO,811,CPH,333,J,DK,262,0.030534
756,2021-01-28 11:15:00,DO,811,CPH,333,J,DK,262,0.030534
808,2021-01-31 12:00:00,DO,811,CPH,333,J,DK,262,0.045802
870,2021-02-03 11:25:00,DO,811,CPH,333,J,DK,262,0.030534
...,...,...,...,...,...,...,...,...,...
35202,2022-01-30 13:00:00,DO,811,CPH,333,J,DK,262,0.099237
35298,2022-01-31 12:35:00,DO,811,CPH,333,J,DK,262,0.068702
35701,2022-02-05 12:05:00,DO,811,CPH,333,J,DK,262,0.194656
35772,2022-02-06 12:30:00,DO,811,CPH,333,J,DK,262,0.141221
35878,2022-02-07 11:45:00,DO,811,CPH,333,J,DK,262,0.072519

In [55]:
d.ScheduleTime
d["Passengers"] = d.LoadFactor*d.SeatCapacity

d2 = d.groupby("ScheduleTime").sum()
d2

                     FlightNumber  SeatCapacity  LoadFactor  Passengers
ScheduleTime
2021-01-01 06:05:00          2707           189    0.026455         5.0
2021-01-01 06:35:00           874           142    0.408451        58.0
2021-01-01 08:20:00          2831           186    0.139785        26.0
2021-01-01 10:35:00           818            74    0.189189        14.0
2021-01-01 12:05:00           876           142    0.570423        81.0
...                           ...           ...         ...         ...
2022-02-08 21:40:00          1496           197    0.406091        80.0
2022-02-08 22:00:00          2396           180    0.577778       104.0
2022-02-08 22:40:00          2961           200    0.265000        53.0
2022-02-08 22:50:00          1392           189    0.322751        61.0
2022-02-08 23:30:00          1414            90    0.033333         3.0

[27901 rows x 4 columns]